<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>TeamBase</servlet-name>
		<display-name>TeamBase</display-name>
		<description></description>
		<servlet-class>etu.TeamBase</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TeamBase</servlet-name>
		<url-pattern>/TeamBase</url-pattern>
	</servlet-mapping>
</web-app>
